/* sm */
@media(min-width:576px){
    .conatiner{
        max-width: 540px;
    }
}
/* md */
@media(min-width:768px){
    .conatiner{
        max-width: 720px;
    }
}
/* lg */
@media(min-width:992px){
    .conatiner{
        max-width: 960px;
    }
}
/* xl */
@media(min-width:1200px){
    .conatiner{
        max-width: 1140px;
    }
}
